.upload-section {
    display: block;
    margin: 20px auto;
    width: 70%;
    border: 1px solid #cccc;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #222222;
}


/* Dropdown */

.dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
}

.dd-button:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.dd-button:hover {
    background-color: #eeeeee;
}

.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dd-input+.dd-menu {
    display: none;
}

.dd-input:checked+.dd-menu {
    display: block;
}

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dd-menu li:hover {
    background-color: #f6f6f6;
}

.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}

.dd-menu li i {
    padding-right: 15px;
}

.dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

.folder-input {
    margin: 0px 16px;
}

.upload-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.upload-text {
    margin: 10px 20px;
    font-size: 18px;
    color: #4b4b4b;
}

.upload-folder-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.upload-folder-btn button {
    padding: 10px;
    margin: 20px 15px 20px 15px;
    border: 1px solid #797979;
    border-radius: 5px;
    width: 12.7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.upload-folder-btn button i {
    margin-right: 10px;
}


/* context menu */

.right-btn {
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
    background: hsl(0 0% 100%);
    color: hsl(200 50% 20%);
    padding: 20px;
    width: 190px;
}

.right-btn-sub {
    padding: 10px 0px;
    cursor: pointer;
}

.right-btn-sub:hover {
    background-color: #cccc;
}

.right-btn-sub i {
    margin: 0px 10px;
}

@media (max-width: 500px) {
    .upload-section {
        width: 100%;
    }
}